In [24]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import numpy as np

In [25]:
# matplotlib에서 한글 사용하기
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

In [106]:
df.head()

          날짜 요일구분   맑음  흐림   비 안개   눈   기타   미분류
0 2014-01-01  수요일  531  11   3  -   1  471  1000
1 2014-01-02  목요일  627   9   4  1   -  643  1411
2 2014-01-03  금요일  673  22   3  1   3  656  1371
3 2014-01-04  토요일  629  14  12  -  15  580  1269
4 2014-01-05  일요일  442  11   7  1   2  407   918

In [110]:
df = pd.read_excel('2014년 기상.xlsx')
# '-'문자 0으로 바꾸기
df['날짜'] = df['날짜'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m%d'))
df['맑음'] = pd.to_numeric(df.맑음.astype(str).replace('-','0'),errors='coerce').fillna(0).astype(int)
df['흐림'] = pd.to_numeric(df.흐림.astype(str).replace('-','0'),errors='coerce').fillna(0).astype(int)
df['비'] = pd.to_numeric(df.비.astype(str).replace('-','0'),errors='coerce').fillna(0).astype(int)
df['안개'] = pd.to_numeric(df.안개.astype(str).replace('-','0'),errors='coerce').fillna(0).astype(int)
df['눈'] = pd.to_numeric(df.눈.astype(str).replace('-','0'),errors='coerce').fillna(0).astype(int)

In [111]:
df.head()

          날짜 요일구분   맑음  흐림   비  안개   눈   기타   미분류
0 2014-01-01  수요일  531  11   3   0   1  471  1000
1 2014-01-02  목요일  627   9   4   1   0  643  1411
2 2014-01-03  금요일  673  22   3   1   3  656  1371
3 2014-01-04  토요일  629  14  12   0  15  580  1269
4 2014-01-05  일요일  442  11   7   1   2  407   918

In [112]:
# 그래프 그리기
df.plot(x = '날짜', y=['맑음','흐림','비','안개','눈'])
plt.show()