In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
# matplotlib에서 한글 사용하기
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

In [5]:
df14 = pd.read_excel('차종별 도로형태별 2014.xls')
df15 = pd.read_excel('차종별 도로형태별 2015.xls')
df16 = pd.read_excel('차종별 도로형태별 2016.xls')

In [6]:
df14.columns = df14.iloc[1,:]
df15.columns = df15.iloc[1,:]
df16.columns = df16.iloc[1,:]
df14 = df14.drop([0,1])
df15 = df15.drop([0,1])
df16 = df16.drop([0,1])

In [7]:
df14 = df14[df14['발생년도']=='발생건수']
df15 = df15[df15['발생년도']=='발생건수']
df16 = df16[df16['발생년도']=='발생건수']

In [8]:
for i in range(len(df14.columns)-2):
    df14.iloc[:,i+2] = df14.iloc[:,i+2].astype(str).replace('-',0).fillna(0).astype(int)
    df15.iloc[:,i+2] = df15.iloc[:,i+2].astype(str).replace('-',0).fillna(0).astype(int)
    df16.iloc[:,i+2] = df16.iloc[:,i+2].astype(str).replace('-',0).fillna(0).astype(int)

In [9]:
df_sum = df14.copy()

In [10]:
for i in range(len(df_sum.columns)-2):
    df_sum.iloc[:,i+2] = df14.iloc[:,i+2]+df15.iloc[:,i+2]+df16.iloc[:,i+2]

In [11]:
df = df_sum.drop(['발생년도','기타/불명','합계'],axis=1)
df = df.drop([2,62])

In [105]:
df.plot.bar(x='가해운전자 차종별 ',stacked=True, rot = 0)
# plt.xticks(size = 10)
# plt.yticks(size = 10)
plt.show()

In [12]:
df.head()

1  가해운전자 차종별   횡단보도상 횡단보도부근   터널안   교량위   기타단일로    교차로내  교차로부근 건널목 고가도로위 지하도로내
8         승용차  12307   3928  1130  2451  209995  133656  73696   7   952   492
14        승합차   1188    427    90   180   24120   10873   6900   1    70    25
20        화물차   1823    532   312   592   42027   22682  13388   5   200   100
26        특수차     42     15    14    22    1465     672    390   0    16     4
32        이륜차   1286    388    69   166   17246   11871   5494   0    44    46

In [14]:
df_per = df.copy()
col_list = list(df_per)
col_list.remove('가해운전자 차종별 ')
df_per['total'] = df_per[col_list].sum(axis=1)
df_per[col_list] = df_per[col_list].div(df_per.total, axis='index')
df_per = df_per.drop('total', axis=1)

In [18]:
df_per.plot.bar(x='가해운전자 차종별 ',stacked=True, rot = 0).legend(bbox_to_anchor=(1.1, 0.85))
# df_per.plot.bar(x='시간',stacked=True, rot = 0).legend(bbox_to_anchor=(1.1, 0.85))
plt.show()