In [1]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# matplotlib에서 한글 사용하기
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

In [6]:
weather_2014 = pd.read_excel('2014년 기상.xlsx')
# '-'문자 0으로 바꾸기
weather_2014['날짜'] = weather_2014['날짜'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m%d'))
weather_2014['맑음'] = pd.to_numeric(weather_2014.맑음.astype(str).replace('-','0'),errors='coerce').fillna(0).astype(int)
weather_2014['흐림'] = pd.to_numeric(weather_2014.흐림.astype(str).replace('-','0'),errors='coerce').fillna(0).astype(int)
weather_2014['비'] = pd.to_numeric(weather_2014.비.astype(str).replace('-','0'),errors='coerce').fillna(0).astype(int)
weather_2014['안개'] = pd.to_numeric(weather_2014.안개.astype(str).replace('-','0'),errors='coerce').fillna(0).astype(int)
weather_2014['눈'] = pd.to_numeric(weather_2014.눈.astype(str).replace('-','0'),errors='coerce').fillna(0).astype(int)
del weather_2014['기타']
del weather_2014['미분류']

In [10]:
weather_2015 = pd.read_excel('2015년 기상.xlsx')
# '-'문자 0으로 바꾸기
weather_2015['날짜'] = weather_2015['날짜'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m%d'))
weather_2015['맑음'] = pd.to_numeric(weather_2015.맑음.astype(str).replace('-','0'),errors='coerce').fillna(0).astype(int)
weather_2015['흐림'] = pd.to_numeric(weather_2015.흐림.astype(str).replace('-','0'),errors='coerce').fillna(0).astype(int)
weather_2015['비'] = pd.to_numeric(weather_2015.비.astype(str).replace('-','0'),errors='coerce').fillna(0).astype(int)
weather_2015['안개'] = pd.to_numeric(weather_2015.안개.astype(str).replace('-','0'),errors='coerce').fillna(0).astype(int)
weather_2015['눈'] = pd.to_numeric(weather_2015.눈.astype(str).replace('-','0'),errors='coerce').fillna(0).astype(int)
del weather_2015['기타']
del weather_2015['미분류']

In [15]:
weather_2016 = pd.read_excel('2016년 기상.xlsx')
# '-'문자 0으로 바꾸기
weather_2016['날짜'] = weather_2016['날짜'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m%d'))
weather_2016['맑음'] = pd.to_numeric(weather_2016.맑음.astype(str).replace('-','0'),errors='coerce').fillna(0).astype(int)
weather_2016['흐림'] = pd.to_numeric(weather_2016.흐림.astype(str).replace('-','0'),errors='coerce').fillna(0).astype(int)
weather_2016['비'] = pd.to_numeric(weather_2016.비.astype(str).replace('-','0'),errors='coerce').fillna(0).astype(int)
weather_2016['안개'] = pd.to_numeric(weather_2016.안개.astype(str).replace('-','0'),errors='coerce').fillna(0).astype(int)
weather_2016['눈'] = pd.to_numeric(weather_2016.눈.astype(str).replace('-','0'),errors='coerce').fillna(0).astype(int)
del weather_2016['기타']
del weather_2016['미분류']

In [18]:
weather_total = pd.merge(weather_2014, weather_2015, how='outer')
weather_total = pd.merge(weather_total, weather_2016, how='outer')

In [30]:
violation_2014 = pd.read_excel('2014년 법규위반.xlsx')
# '-'문자 0으로 바꾸기
violation_2014['날짜'] = violation_2014['날짜'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m%d'))
violation_2014['과속'] = pd.to_numeric(violation_2014.과속.astype(str).replace('-','0'),errors='coerce').fillna(0).astype(int)
violation_2014['불법유턴'] = pd.to_numeric(violation_2014.불법유턴.astype(str).replace('-','0'),errors='coerce').fillna(0).astype(int)
del violation_2014['기타']
del violation_2014['미분류']

In [31]:
violation_2015 = pd.read_excel('2015년 법규위반.xlsx')
# '-'문자 0으로 바꾸기
violation_2015['날짜'] = violation_2015['날짜'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m%d'))
violation_2015['과속'] = pd.to_numeric(violation_2015.과속.astype(str).replace('-','0'),errors='coerce').fillna(0).astype(int)
violation_2015['불법유턴'] = pd.to_numeric(violation_2015.불법유턴.astype(str).replace('-','0'),errors='coerce').fillna(0).astype(int)
# violation_2015['과속'] = pd.to_numeric(violation_2015.과속.astype(str).replace('-','0'),errors='coerce').fillna(0).astype(int)
# violation_2015['과속'] = pd.to_numeric(violation_2015.과속.astype(str).replace('-','0'),errors='coerce').fillna(0).astype(int)
del violation_2015['기타']
del violation_2015['미분류']

In [32]:
violation_2016 = pd.read_excel('2016년 법규위반.xlsx')
# '-'문자 0으로 바꾸기
violation_2016['날짜'] = violation_2016['날짜'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m%d'))
violation_2016['과속'] = pd.to_numeric(violation_2016.과속.astype(str).replace('-','0'),errors='coerce').fillna(0).astype(int)
violation_2016['불법유턴'] = pd.to_numeric(violation_2016.불법유턴.astype(str).replace('-','0'),errors='coerce').fillna(0).astype(int)
# violation_2016['과속'] = pd.to_numeric(violation_2016.과속.astype(str).replace('-','0'),errors='coerce').fillna(0).astype(int)
# violation_2016['과속'] = pd.to_numeric(violation_2016.과속.astype(str).replace('-','0'),errors='coerce').fillna(0).astype(int)
del violation_2016['기타']
del violation_2016['미분류']

In [55]:
violation_total = pd.merge(violation_2014, violation_2015, how='outer')
violation_total = pd.merge(violation_total, violation_2016, how='outer')

In [59]:
weather_violation = pd.merge(weather_total,violation_total,how='outer')

In [62]:
w_col = weather_total.columns
v_col = violation_total.columns
for w in w_col:
    if w == '날짜' or w=='요일구분':
        continue
    for v in v_col:
        if v == '날짜' or v == '요일구분':
            continue
        print('x = ',w,' v = ',v)
        weather_violation.plot(x=w, y=v, linestyle='', marker='o')
        plt.xlim(weather_violation[w].min(),weather_violation[w].max())
        plt.ylim(weather_violation[v].min(),weather_violation[v].max())
        plt.savefig(w+'_'+v+'.png')

x =  맑음  v =  중앙선침범
x =  맑음  v =  신호위반
x =  맑음  v =  안전거리미확보
x =  맑음  v =  불법유턴
x =  맑음  v =  과속
x =  맑음  v =  안전운전불이행
x =  맑음  v =  교차로운행방법위반
x =  맑음  v =  보행자보호의무위반
x =  맑음  v =  차로위반
x =  맑음  v =  직진우회전진행방해
x =  흐림  v =  중앙선침범
x =  흐림  v =  신호위반
x =  흐림  v =  안전거리미확보
x =  흐림  v =  불법유턴
x =  흐림  v =  과속
x =  흐림  v =  안전운전불이행
x =  흐림  v =  교차로운행방법위반
x =  흐림  v =  보행자보호의무위반
x =  흐림  v =  차로위반
x =  흐림  v =  직진우회전진행방해
x =  비  v =  중앙선침범

C:\Users\user\Anaconda3\lib\site-packages\matplotlib\pyplot.py:516: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`).
  max_open_warning, RuntimeWarning)

x =  비  v =  신호위반
x =  비  v =  안전거리미확보
x =  비  v =  불법유턴
x =  비  v =  과속
x =  비  v =  안전운전불이행
x =  비  v =  교차로운행방법위반
x =  비  v =  보행자보호의무위반
x =  비  v =  차로위반
x =  비  v =  직진우회전진행방해
x =  안개  v =  중앙선침범
x =  안개  v =  신호위반
x =  안개  v =  안전거리미확보
x =  안개  v =  불법유턴
x =  안개  v =  과속
x =  안개  v =  안전운전불이행
x =  안개  v =  교차로운행방법위반
x =  안개  v =  보행자보호의무위반
x =  안개  v =  차로위반
x =  안개  v =  직진우회전진행방해
x =  눈  v =  중앙선침범
x =  눈  v =  신호위반
x =  눈  v =  안전거리미확보
x =  눈  v =  불법유턴
x =  눈  v =  과속
x =  눈  v =  안전운전불이행
x =  눈  v =  교차로운행방법위반
x =  눈  v =  보행자보호의무위반
x =  눈  v =  차로위반
x =  눈  v =  직진우회전진행방해

In [10]:
weather_violation.plot(x = '맑음',y='신호위반',linestyle='',marker='o')
plt.xlim(weather_violation['맑음'].min(),weather_violation['맑음'].max())
plt.ylim(weather_violation['신호위반'].min(),weather_violation['신호위반'].max())
plt.savefig('myfig.png')
plt.show()

In [161]:
plt.show()

In [154]:
weather_violation.head()

,날짜,요일구분,맑음,흐림,비,안개,눈,기타,미분류,중앙선침범,신호위반,안전거리미확보,불법유턴,과속,안전운전불이행,교차로운행방법위반,보행자보호의무위반,차로위반,직진우회전진행방해
0,2014-01-01,수요일,531,11,3,0,1,471,1000,52,111,138,2,3,601,44,31,4,9
1,2014-01-02,목요일,627,9,4,1,0,643,1411,51,108,191,2,1,785,39,36,4,15
2,2014-01-03,금요일,673,22,3,1,3,656,1371,69,109,203,5,0,770,44,49,7,15
3,2014-01-04,토요일,629,14,12,0,15,580,1269,64,113,175,1,1,762,54,45,8,14
4,2014-01-05,일요일,442,11,7,1,2,407,918,49,82,129,2,0,497,25,25,4,12

In [149]:
weather.head()

          날짜 요일구분   맑음  흐림   비  안개   눈   기타   미분류
0 2014-01-01  수요일  531  11   3   0   1  471  1000
1 2014-01-02  목요일  627   9   4   1   0  643  1411
2 2014-01-03  금요일  673  22   3   1   3  656  1371
3 2014-01-04  토요일  629  14  12   0  15  580  1269
4 2014-01-05  일요일  442  11   7   1   2  407   918

In [132]:
# 그래프 그리기
df.plot(x = '날짜', y=['합계'], linestyle='', marker='o')
plt.show()

In [130]:
df['합계'] = df['맑음']+df['비']+df['흐림']+df['안개']+df['기타']+df['미분류']

In [123]:
df.head()

          날짜 요일구분   맑음  흐림   비  안개   눈   기타   미분류  맑고흐림
0 2014-01-01  수요일  531  11   3   0   1  471  1000   542
1 2014-01-02  목요일  627   9   4   1   0  643  1411   636
2 2014-01-03  금요일  673  22   3   1   3  656  1371   695
3 2014-01-04  토요일  629  14  12   0  15  580  1269   643
4 2014-01-05  일요일  442  11   7   1   2  407   918   453